
<html>
	<head>
        	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
                <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
               	<script type="text/javascript" src="static/js/jquery-latest.js"></script> 
		<script type="text/javascript" src="static/js/jquery.tablesorter.js"></script> 
		<link rel="stylesheet" href="static/css/bootstrap.css" />
                <link rel="stylesheet" href="static/css/bootstrap-responsive.css" />
                <link rel="stylesheet" href="static/css/bootstrap.min.css" />
		
		<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
		<script>
	  		$(document).ready(function() {
            			$('#loading').css("display","none");
        		});

		</script>        
		<script>
			var sel_videos = [];
			var tot_videos = 0;

			function validateVideos(){
				var $rows = $("#tagsTable tr");
				var counter = 1;
				for(var i=1;i<=tot_videos;i++){
					if(sel_videos.indexOf(i) == -1)
					{
						$rows.eq(i).hide();
					}
					else
					{
						$rows.eq(i).find('td:eq(0)').html(counter)
						counter = counter + 1;
					}
				}
					$("#val_video").hide();
					$("#save_video").show();
			}

			function toggleCheckbox(elem, serial){
				sel_videos.push(serial);
			}

			function getCheckedBoxes()
				{	
					var values = new Array();
       					$.each($("input[name='case[]']:checked"),
              					function () {
                   					values.push($(this).val());
              					});
    
					values = values.join (";")
					$.get('saveUserChoices?choices=' + values);
				}


			function updateTable(url)
        			{
					$("#val_video").show();
					$("#save_video").hide();
                			var options
                                	var txtStrng = '';
					sel_videos = [];
                        		//grab ajax data
					tot_videos = 0;
						
						$("#loading").show();
                                		$.ajax({
                                        		//async: true,
                                        		url: url + "?keyword="+$('#keyword').val(),
                                        		dataType: 'json',
                                        		success: function(data, textStatus, jqXHR)
                                        		{
                                                 		//data - response from server
                                                		options= data;
								 $.each( options, function(idx, obj) {
                			                                //val = "'" + obj.full_name + "','"+obj.tag_url + "'";
                                        			        val =   obj.tag_url + ",{{ username }} ";
                                                			txtStrng += "<tr>";
                                            	    			txtStrng += "<td><center>"+obj.serial_no + "</center></td>" ;
                                                			txtStrng += "<td><center><input type=\"checkbox\"  name=\"case[]\" value = \"" +val + "\" onchange=\"toggleCheckbox(this, "+obj.serial_no+")\"></center></td>";
                                                			txtStrng += "<td><video height=\"175\" width=\"175\" controls><source src=  "+obj.tag_url + " type=video/mp4></video></td>" ;
                                            	    			txtStrng += "<td><img height =100 width=100 src = "+obj.profile_picture + "> <br><br>" + obj.full_name + "</td>" ;
                                                			txtStrng += "<td>"+obj.created_time + "</td>" ;
                                                			txtStrng += "<td>"+obj.text + "</td>" ;
                                                			txtStrng += "</tr>";
									tot_videos+=1;
                                         			});
		
                			                         //clear the option list
                                        			$('#tagsTable tbody').remove();
                                        			//attach the option list
                                        			$(txtStrng).appendTo('#tagsTable');
                                        		},
							complete: function()
							{
       	 							$('#loading').hide();
      							},			
                                        		error: function (jqXHR, textStatus, errorThrown)
                                        		{
								console.log(errorThrown)
                                        		}
		                                });
        			}
        	</script>
	</head>
	<body>
		<div class="navbar-collapse collapse">
        	</div>
		<div class="container">
		<div style="position:fixed;z-index:1000;background-color:#ffe;height=10px">
			<div class="row">
			<ul class="nav navbar-nav navbar-right" style="margin-right:10px;">
				<li><a href={{ url_for('logout') }}>Logout</a></li>
			</ul>
			</div>
 			<div class="row">
      				<div class="span12">
        				<h3 style="text-align:center;">Instagram</h3>
        				<h4 style="text-align:center;">Enter keyword or userid</h4>
      				</div>
  			</div>
        	<div class="row">
      			<div class="span12">
				<form class="form-search" style="text-align:center;">
        				<input type="text" class="input-medium search-query" id="keyword">
					<button type="button" onclick="updateTable('/getKeywordMedia')" class="btn">Search</button>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="span12" style="margin-bottom:10px;">
				<button type="button" onclick="validateVideos()" class="btn" style="text-align:center;" id="val_video">Shortlist Videos</button>
				<button type="button" onclick="updateTable('/getMoreVideos')" class="btn">Get More Videos</button>
				<button type="button" onclick="getCheckedBoxes()" class="btn" style="text-align:center;display:none;" id="save_video">Save</button>
			</div>
		</div>
		</div>
		<div class="row" style="position:absolute;top:250px;">
      			<div class="span12">
        		<h2 class="sub-header"></h2>
				<form class="form-search">
          			<div class="table-responsive">
            				<table class="table table-striped table-bordered table-condensed tablesorter" id= "tagsTable">
						<thead>
                					<tr>
                  						<th> </th>
                  						<th>Select</th>
                  						<th>Video</th>
                  						<th>User</th>
                  						<th >Created Time</th>
                  						<th >Text</th>
                					</tr>
              					</thead>
        					<tbody>
						</tbody>
        				</table>
					<div class="loader" id="loading"></div>
				</form>
				</div>
			</div>
		</div>		
	</body>
</html>
                             
