
<html>
	<head>
        	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
                <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
               	<script type="text/javascript" src="static/js/jquery-latest.js"></script> 
		<script type="text/javascript" src="static/js/jquery.tablesorter.js"></script> 
		<link rel="stylesheet" href="static/css/bootstrap.css" />
                <link rel="stylesheet" href="static/css/bootstrap-responsive.css" />
                <link rel="stylesheet" href="static/css/bootstrap.min.css" />
                <link rel="stylesheet" href="static/css/loader.css" />
		
		<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
		<script>
	  		$(document).ready(function() {
            			$('#loading').css("display","none");
        		});

		</script>        
		<script>
			var sel_videos = [];
			var tot_videos = 0;
			var selected_video =[];

			function fixSerialNumber(){
				var $rows = $("#tagsTable tr");
				var cnt = 1;
				for(var j=1; j<$rows.length; j++){
					if($rows.eq(j).css("display") != "none"){
						$rows.eq(j).find('td:eq(0)').html('<font size="+2">' + cnt + '</font>');
						cnt += 1;
					}
				}
			}

			function validateVideos(){
				var $rows = $("#tagsTable tr");
				var counter = 1;
			
				for( var  j=1; j<$rows.length;j++) {
					$rows.eq(j).hide();
					if($rows.eq(j).find('td:eq(1) input[type=checkbox]').attr('checked'))
						$rows.eq(j).show();
					counter = counter + 1;
				}
				fixSerialNumber();
				$("#val_video").hide();
				$("#save_video").show();
				$("#back").show();
			}

			function toggleCheckbox(elem, serial){
			}

			function backClick()
			{
				var $rows = $("#tagsTable tr");
				for(var i=1; i<$rows.length; i++){
					$rows.eq(i).hide();
				}
				for(var i=$rows.length-tot_videos;i< $rows.length;i++){
					$rows.eq(i).show();
				}
				fixSerialNumber();
				$("#val_video").show();
                                $("#save_video").hide();
                                $("#back").hide();
			}
			function getCheckedBoxes()
				{	
					var values = new Array();
       					$.each($("input[name='case[]']:checked"),
              					function () {
                   					values.push($(this).val());
              					});
    
					values = values.join (";")
					$.get('saveUserChoices?choices=' + values);
				}


			function updateTable(url)
        			{
					$("#val_video").show();
					$("#save_video").hide();
					$("#back").hide();
                			var options
                                	var txtStrng = '';
					sel_videos = [];
                        		//grab ajax data
					tot_videos = 0;
						
						$("#loading").show();
                                		$.ajax({
                                        		//async: true,
                                        		url: url + "?keyword="+$('#keyword').val(),
                                        		dataType: 'json',
                                        		success: function(data, textStatus, jqXHR)
                                        		{
                                                 		//data - response from server
                                                		options= data;
								 $.each( options, function(idx, obj) {
                			                                //val = "'" + obj.full_name + "','"+obj.tag_url + "'";
                                        			        val =   obj.tag_url + ",{{ username }} ";
                                                			txtStrng += "<tr>";
                                            	    			txtStrng += "<td><center><font size=\"+2\">"+obj.serial_no + "</font></center></td>" ;
                                                			txtStrng += "<td><center><input type=\"checkbox\"  name=\"case[]\" value = \"" +val + "\" onchange=\"toggleCheckbox(this, '"+obj.id+"')\"></center></td>";
                                                			txtStrng += "<td><video height=\"175\" width=\"175\" controls><source src=  "+obj.tag_url + " type=video/mp4></video></td>" ;
                                            	    			txtStrng += "<td><img height =100 width=100 src = "+obj.profile_picture + "> <br><br>" + obj.full_name + "</td>" ;
                                                			txtStrng += "<td>"+obj.created_time + "</td>" ;
                                                			txtStrng += "<td>"+obj.text + "</td>" ;
                                                			txtStrng += "<td>"+$('#keyword').val() + "</td>" ;
                                                			txtStrng += "<td style=\"display:none;\">"+obj.id + "</td>" ;
                                                			txtStrng += "</tr>";
									tot_videos+=1;
								});
								  //clear the option list
								for(var i=1; i<$("#tagsTable tr").length; i++){
									 $("#tagsTable tr").eq(i).hide();
								}
                                                                //attach the option list
                                                                $(txtStrng).appendTo('#tagsTable');

		
                                        		},
							complete: function()
							{
       	 							$('#loading').hide();
								var tableOffset = $("#tagsTable").offset().top;
                        				        var $header = $("#tagsTable > thead").clone();
                                				var $fixedHeader = $("#header-fixed").html($header);

                                				$(window).bind("scroll", function() {
                                        					var offset = $(this).scrollTop();

                                				if (offset >= tableOffset && $fixedHeader.is(":hidden")) {
									$("#header-fixed").show();
                                				}
                                				else if (offset < tableOffset) {
                                        				$fixedHeader.hide();
                                				}
                                				});

      							},			
                                        		error: function (jqXHR, textStatus, errorThrown)
                                        		{
								console.log(errorThrown)
                                        		}
		                                });
        			}
        	</script>
	</head>
	<body>
		<div class="navbar-collapse collapse">
        	</div>
		<div class="container">
		<div style="position:fixed;z-index:1000;background-color:#ffe;">
			<div class="row">
			<ul class="nav navbar-nav navbar-right" style="margin-right:10px;">
				<li><a href={{ url_for('logout') }}>Logout</a></li>
			</ul>
                                <h4 style="text-align:center;">Instagram Enter keyword or userid</h4>
				<form class="form-search" style="text-align:center;">
                                        <input type="text" class="input-medium search-query" id="keyword">
                                        <button type="button" onclick="updateTable('/getKeywordMedia')" class="btn">Search</button>
                                </form>

			</div>
		<div class="row">
			<div class="span12" style="margin-bottom:10px;">
				<button type="button" onclick="validateVideos()" class="btn" style="text-align:center;" id="val_video">Shortlist Videos</button>
				<button type="button" onclick="updateTable('/getMoreVideos')" class="btn">Get More Videos</button>
				<button type="button" onclick="getCheckedBoxes()" class="btn" style="text-align:center;display:none;" id="save_video">Save</button>
				<button type="button" onclick="backClick()" class="btn" style="text-align:center;display:none;" id="back">Back</button>
			</div>
		</div>
		</div>
		<div class="row" style="top:120px;position:absolute">
			<div class="span12">
        		<h2 class="sub-header"></h2>
				<form class="form-search">
          			<div class="table-responsive">
            				<table class="table table-striped table-bordered table-condensed tablesorter" id= "tagsTable">
						<thead>
                					<tr>
                  						<th> </th>
                  						<th>Select</th>
                  						<th>Video</th>
                  						<th>User</th>
                  						<th >Created Time</th>
                  						<th >Text</th>
								<th>Tag</th>
                					</tr>
              					</thead>
        					<tbody>
						</tbody>
        				</table>
					<div class="loader" id="loading"></div>
					<table id="header-fixed" class="span12"></table>
				</form>
				</div>
			</div>
		</div>		
	</body>
</html>
                             
